body{
    display: flex;
    justify-content: center;
    align-items: center;    
    min-height: 100vh;
    margin: 0;
    color: #fff;
    background: #a5b1c2;
    font-family: 'Arial Rounded MT Bold' Arial, sans-serif;
}
.feedback-card{
    position: relative;
    width: 400px;
    padding: 2rem;
    background: #1e272e;
    border-radius: 20px;
    border: 1px solid #a5b1c2;
    box-shadow: 15px 35px 35px rgba(0,0,0,0.5);
    transform-style: preserve-3d;
}
.sticker{
    position: absolute;
    font: 2rem;
    animation: float 3s ease-in-out infinite;
}